In [1]:
import pandas as pd
import numpy as np

In [2]:
df_env_prot=pd.read_csv('data/economy/Environmental_Protection_Expenditures_IMF.csv', index_col=False)

In [3]:
df_env_prot

,ObjectId,Country,ISO2,ISO3,Indicator,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Unit,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on biodiversity & landscape protec...,"International Monetary Fund (IMF), Statistics ...",GENB_G14,Expenditure on Biodiversity & Landscape Protec...,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,NaN,NaN,NaN,NaN,1.243785e+08,1.258269e+09,NaN,NaN,NaN,NaN
1,2,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on biodiversity & landscape protec...,"International Monetary Fund (IMF), Statistics ...",GENB_G14,Expenditure on Biodiversity & Landscape Protec...,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,NaN,NaN,NaN,NaN,9.433491e-03,9.134202e-02,NaN,NaN,NaN,NaN
2,3,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,2.846995e+09,3.344665e+09,2.204964e+09,1.122601e+09,1.702933e+09,2.377937e+09,NaN,NaN,NaN,NaN
3,4,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,2.754469e-01,2.994793e-01,1.863813e-01,9.152359e-02,1.291590e-01,1.726226e-01,NaN,NaN,NaN,NaN
4,5,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on environmental protection n.e.c.,"International Monetary Fund (IMF), Statistics ...",GENO_G14,Expenditure on Environmental Protection Not El...,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,NaN,NaN,NaN,NaN,9.669078e+07,8.846917e+07,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532,1733,Zambia,ZM,ZMB,Expenditure on pollution abatement,"International Monetary Fund (IMF), Statistics ...",GENP_G14,Expenditure on Pollution Abatement,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00
1533,1734,Zambia,ZM,ZMB,Expenditure on waste management,"International Monetary Fund (IMF), Statistics ...",GENM_G14,Expenditure on Waste Management,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,3.281200e+07,4.280990e+07
1534,1735,Zambia,ZM,ZMB,Expenditure on waste management,"International Monetary Fund (IMF), Statistics ...",GENM_G14,Expenditure on Waste Management,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,9.876493e-03,1.003370e-02
1535,1736,Zambia,ZM,ZMB,Expenditure on waste water management,"International Monetary Fund (IMF), Statistics ...",GENW_G14,Expenditure on Waste Water Management,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00
1536,1737,Zambia,ZM,ZMB,Expenditure on waste water management,"International Monetary Fund (IMF), Statistics ...",GENW_G14,Expenditure on Waste Water Management,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00

In [4]:
df_direct=pd.read_csv('data/economy/Direct_Investment-related_Indicators_IMF.csv', index_col=False)

In [5]:
df_env_tax=pd.read_csv('data/economy/Environmental_Taxes_IMF.csv', index_col=False)

In [6]:
df_fossil=pd.read_csv('data/economy/Fossil_Fuel_Subsidies_IMF.csv', index_col=False)

In [7]:
df_direct

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2009,F2010,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018
0,1,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,71.211434,83.558460,79.534370,64.993731,57.385115,59.141641,56.846428,14.668454,NaN,NaN
1,2,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,1433.655594,2022.159504,2244.337944,1916.677540,1874.305223,1442.325438,1216.817160,1229.891696,NaN,NaN
2,3,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,32.800418,32.363177,31.128261,26.751951,26.115516,26.143714,22.016188,25.395741,NaN,NaN
3,4,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,67.456211,89.201459,91.336366,82.703299,77.160579,74.335338,60.709666,47.939953,NaN,NaN
4,5,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,158.404920,169.111172,203.536455,222.669928,210.962388,229.553929,219.951865,223.918129,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,14186,Vietnam,VN,VNM,CO2 emissions per unit of output of domestic c...,Metric tons of CO2 per million US$ of output,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIPD,CO2 Emissions Per Unit of Output; Of which: Ou...,"Environment, Climate Change, Cross-Border, Dir...",...,0.500612,0.557965,0.419863,0.521740,0.414007,0.313351,0.379408,0.387096,NaN,NaN
14186,14187,Vietnam,VN,VNM,CO2 emissions per unit of output of domestic c...,Metric tons of CO2 per million US$ of output,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIPD,CO2 Emissions Per Unit of Output; Of which: Ou...,"Environment, Climate Change, Cross-Border, Dir...",...,0.656673,0.713433,0.552066,0.887918,0.697531,0.542619,0.665272,0.595158,NaN,NaN
14187,14188,Vietnam,VN,VNM,CO2 emissions per unit of output of domestic c...,Metric tons of CO2 per million US$ of output,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIPD,CO2 Emissions Per Unit of Output; Of which: Ou...,"Environment, Climate Change, Cross-Border, Dir...",...,1.209887,1.406673,0.983116,1.815771,1.485603,0.992014,1.323142,1.327664,NaN,NaN
14188,14189,Vietnam,VN,VNM,CO2 emissions per unit of output of domestic c...,Metric tons of CO2 per million US$ of output,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIPD,CO2 Emissions Per Unit of Output; Of which: Ou...,"Environment, Climate Change, Cross-Border, Dir...",...,0.392516,0.451023,0.333714,0.580898,0.431746,0.307707,0.428521,0.417129,NaN,NaN
14189,14190,Vietnam,VN,VNM,CO2 emissions per unit of output of domestic c...,Metric tons of CO2 per million US$ of output,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIPD,CO2 Emissions Per Unit of Output; Of which: Ou...,"Environment, Climate Change, Cross-Border, Dir...",...,0.937144,1.031492,0.771875,0.841939,0.977942,0.707536,0.898796,0.864303,NaN,NaN

In [8]:
df_env_tax

,ObjectId,Country,ISO2,ISO3,Indicator,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Unit,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,Albania,AL,ALB,Environmental Taxes,Organisation for Economic Co-operation and Dev...,ECGTE,Environmental Taxes,"Environment, Climate Change, Government Policy...",Domestic Currency,...,NaN,NaN,NaN,4.399314e+10,4.781379e+10,4.754858e+10,5.114559e+10,5.341565e+10,NaN,NaN
1,2,Albania,AL,ALB,Environmental Taxes,Organisation for Economic Co-operation and Dev...,ECGTE,Environmental Taxes,"Environment, Climate Change, Government Policy...",Percent of GDP,...,NaN,NaN,NaN,3.067206e+00,3.247163e+00,3.066373e+00,3.124865e+00,3.157133e+00,NaN,NaN
2,3,Albania,AL,ALB,Taxes on Energy (including fuel for transport),Organisation for Economic Co-operation and Dev...,ECGTEN,Taxes on Energy (Including Fuel for Transport),"Environment, Climate Change, Government Policy...",Domestic Currency,...,NaN,NaN,NaN,3.774111e+10,4.094562e+10,4.040004e+10,4.352182e+10,4.516530e+10,NaN,NaN
3,4,Albania,AL,ALB,Taxes on Energy (including fuel for transport),Organisation for Economic Co-operation and Dev...,ECGTEN,Taxes on Energy (Including Fuel for Transport),"Environment, Climate Change, Government Policy...",Percent of GDP,...,NaN,NaN,NaN,2.631314e+00,2.780726e+00,2.605369e+00,2.659072e+00,2.669496e+00,NaN,NaN
4,5,Albania,AL,ALB,Taxes on Pollution,Organisation for Economic Co-operation and Dev...,ECGTEP,Taxes on Pollution,"Environment, Climate Change, Government Policy...",Domestic Currency,...,NaN,NaN,NaN,1.782069e+09,1.879970e+09,1.941324e+09,2.226251e+09,2.625011e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,1329,West Bank and Gaza,PS,PSE,Taxes on Pollution,Organisation for Economic Co-operation and Dev...,ECGTEP,Taxes on Pollution,"Environment, Climate Change, Government Policy...",Percent of GDP,...,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
1235,1330,West Bank and Gaza,PS,PSE,Taxes on Resources,Organisation for Economic Co-operation and Dev...,ECGTER,Taxes on Resources,"Environment, Climate Change, Government Policy...",Domestic Currency,...,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
1236,1331,West Bank and Gaza,PS,PSE,Taxes on Resources,Organisation for Economic Co-operation and Dev...,ECGTER,Taxes on Resources,"Environment, Climate Change, Government Policy...",Percent of GDP,...,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
1237,1332,West Bank and Gaza,PS,PSE,Taxes on Transport (excluding fuel for transport),Organisation for Economic Co-operation and Dev...,ECGTET,Taxes on Transport (Excluding Fuel for Transport),"Environment, Climate Change, Government Policy...",Domestic Currency,...,NaN,NaN,NaN,2.752039e+07,2.752039e+07,2.752039e+07,2.752039e+07,2.752039e+07,2.752039e+07,NaN
1238,1333,West Bank and Gaza,PS,PSE,Taxes on Transport (excluding fuel for transport),Organisation for Economic Co-operation and Dev...,ECGTET,Taxes on Transport (Excluding Fuel for Transport),"Environment, Climate Change, Government Policy...",Percent of GDP,...,NaN,NaN,NaN,5.067430e-02,4.651429e-02,4.740512e-02,4.709003e-02,4.506160e-02,5.147230e-02,NaN

In [9]:
df_fossil

,ObjectId,Country,ISO2,ISO3,Indicator,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Unit,...,F2016,F2017,F2018,F2019,F2020,F2021,F2022,F2023,F2024,F2025
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Coal,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTEC,Explicit; Coal,"Environment, Climate Change, Government Policy...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,2,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Coal,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTEC,Explicit; Coal,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,3,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Electricity,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTET,Explicit; Electricity,"Environment, Climate Change, Government Policy...",Percent of GDP,...,0.000000e+00,0.000000e+00,8.328749e-02,3.758335e-01,7.566085e-02,2.522158e-01,2.479815e-01,2.702264e-01,2.711179e-01,2.458309e-01
3,4,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Electricity,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTET,Explicit; Electricity,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,0.000000e+00,0.000000e+00,1.607650e+07,7.310982e+07,1.473957e+07,5.028711e+07,5.141028e+07,5.687318e+07,5.778218e+07,5.395970e+07
4,5,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Natural Gas,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTEN,Explicit; Natural Gas,"Environment, Climate Change, Government Policy...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8259,8260,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Petroleum,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTIP,Implicit; Petroleum,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,9.316462e+06,9.755561e+06,7.453214e+07,1.039549e+07,1.008857e+07,1.000836e+07,1.095192e+07,1.133046e+07,1.177226e+07,1.221656e+07
8260,8261,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Road Damage,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTIR,Implicit; Road Damage,"Environment, Climate Change, Government Policy...",Percent of GDP,...,0.000000e+00,0.000000e+00,7.590138e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8261,8262,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Road Damage,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTIR,Implicit; Road Damage,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,0.000000e+00,0.000000e+00,1.679364e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8262,8263,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Total,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTI,Implicit,"Environment, Climate Change, Government Policy...",Percent of GDP,...,1.924248e+00,1.643749e+00,2.401309e+00,2.175289e+00,1.252623e+00,1.278354e+00,1.362794e+00,1.468862e+00,1.556144e+00,1.631944e+00
8263,8264,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Total,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTI,Implicit,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,4.222892e+08,3.865038e+08,5.313041e+08,4.320557e+08,2.683251e+08,3.334548e+08,3.913001e+08,4.118156e+08,4.369569e+08,4.629167e+08

In [10]:
df_env_prot

,ObjectId,Country,ISO2,ISO3,Indicator,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Unit,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on biodiversity & landscape protec...,"International Monetary Fund (IMF), Statistics ...",GENB_G14,Expenditure on Biodiversity & Landscape Protec...,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,NaN,NaN,NaN,NaN,1.243785e+08,1.258269e+09,NaN,NaN,NaN,NaN
1,2,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on biodiversity & landscape protec...,"International Monetary Fund (IMF), Statistics ...",GENB_G14,Expenditure on Biodiversity & Landscape Protec...,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,NaN,NaN,NaN,NaN,9.433491e-03,9.134202e-02,NaN,NaN,NaN,NaN
2,3,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,2.846995e+09,3.344665e+09,2.204964e+09,1.122601e+09,1.702933e+09,2.377937e+09,NaN,NaN,NaN,NaN
3,4,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,2.754469e-01,2.994793e-01,1.863813e-01,9.152359e-02,1.291590e-01,1.726226e-01,NaN,NaN,NaN,NaN
4,5,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on environmental protection n.e.c.,"International Monetary Fund (IMF), Statistics ...",GENO_G14,Expenditure on Environmental Protection Not El...,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,NaN,NaN,NaN,NaN,9.669078e+07,8.846917e+07,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532,1733,Zambia,ZM,ZMB,Expenditure on pollution abatement,"International Monetary Fund (IMF), Statistics ...",GENP_G14,Expenditure on Pollution Abatement,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00
1533,1734,Zambia,ZM,ZMB,Expenditure on waste management,"International Monetary Fund (IMF), Statistics ...",GENM_G14,Expenditure on Waste Management,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,3.281200e+07,4.280990e+07
1534,1735,Zambia,ZM,ZMB,Expenditure on waste management,"International Monetary Fund (IMF), Statistics ...",GENM_G14,Expenditure on Waste Management,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,9.876493e-03,1.003370e-02
1535,1736,Zambia,ZM,ZMB,Expenditure on waste water management,"International Monetary Fund (IMF), Statistics ...",GENW_G14,Expenditure on Waste Water Management,"Government and Public Sector Finance, Expendit...",Domestic Currency,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00
1536,1737,Zambia,ZM,ZMB,Expenditure on waste water management,"International Monetary Fund (IMF), Statistics ...",GENW_G14,Expenditure on Waste Water Management,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00

In [11]:
df_env_prot= df_env_prot[df_env_prot['Unit'] == "Percent of GDP"]
df_env_prot= df_env_prot[df_env_prot['Indicator'] == "Expenditure on environment protection"]

df_env_prot

,ObjectId,Country,ISO2,ISO3,Indicator,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Unit,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
3,4,"Afghanistan, Islamic Rep. of",AF,AFG,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.275447,0.299479,0.186381,0.091524,0.129159,0.172623,NaN,NaN,NaN,NaN
17,18,Albania,AL,ALB,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.035389,0.046255,0.065698,0.096442,0.185321,0.184236,0.086488,0.184700,0.322223,0.290041
29,30,Algeria,DZ,DZA,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,34,Angola,AO,AGO,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.450567,0.372128,0.258804,0.152984,0.011520,0.130385,0.017064,0.008986,NaN,NaN
45,46,Argentina,AR,ARG,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,NaN,NaN,0.056765,0.035746,0.066823,0.106584,0.124123,0.137163,0.116308,0.055378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,1717,Uruguay,UY,URY,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,NaN,NaN,NaN,0.040551,0.039078,0.037757,0.037185,0.037900,NaN,NaN
1518,1719,"Uzbekistan, Rep. of",UZ,UZB,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.009911,0.014284,0.013943,0.012311,0.011282,0.032574,0.049781,0.044701,0.040008,0.043044
1520,1721,West Bank and Gaza,PS,PSE,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,NaN,NaN,NaN,0.006143,0.006293,0.006955,0.006500,0.006386,0.008113,NaN
1522,1723,"Yemen, Rep. of",YE,YEM,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.193329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526,1727,Zambia,ZM,ZMB,Expenditure on environment protection,"International Monetary Fund (IMF), Statistics ...",GEN_G14,Environmental Protection Expenditures,"Government and Public Sector Finance, Expendit...",Percent of GDP,...,0.000000,0.004374,0.003209,0.003403,0.056456,0.062482,0.125081,0.068760,0.085866,0.076331

In [12]:
df_env_prot.columns

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Unit', 'F1995', 'F1996',
       'F1997', 'F1998', 'F1999', 'F2000', 'F2001', 'F2002', 'F2003', 'F2004',
       'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012',
       'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020',
       'F2021'],
      dtype='object')

In [13]:
drop_list=['ObjectId', 'Country', 'ISO2', 
           #'ISO3', 'Indicator', 
           'Source','CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Unit', 
           #'F1995', 'F1996',
       #'F1997', 'F1998', 'F1999', 'F2000', 'F2001', 'F2002', 'F2003', 'F2004',
       #'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012',
       #'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020','F2021'
          ]

In [14]:
df_env_prot=df_env_prot.drop(drop_list,axis=1)
df_env_prot

,ISO3,Indicator,F1995,F1996,F1997,F1998,F1999,F2000,F2001,F2002,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
3,AFG,Expenditure on environment protection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.275447,0.299479,0.186381,0.091524,0.129159,0.172623,NaN,NaN,NaN,NaN
17,ALB,Expenditure on environment protection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.035389,0.046255,0.065698,0.096442,0.185321,0.184236,0.086488,0.184700,0.322223,0.290041
29,DZA,Expenditure on environment protection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,AGO,Expenditure on environment protection,NaN,NaN,NaN,NaN,0.001907,0.003617,0.186327,0.095240,...,0.450567,0.372128,0.258804,0.152984,0.011520,0.130385,0.017064,0.008986,NaN,NaN
45,ARG,Expenditure on environment protection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.018084,...,NaN,NaN,0.056765,0.035746,0.066823,0.106584,0.124123,0.137163,0.116308,0.055378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,URY,Expenditure on environment protection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.040551,0.039078,0.037757,0.037185,0.037900,NaN,NaN
1518,UZB,Expenditure on environment protection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.009911,0.014284,0.013943,0.012311,0.011282,0.032574,0.049781,0.044701,0.040008,0.043044
1520,PSE,Expenditure on environment protection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.006143,0.006293,0.006955,0.006500,0.006386,0.008113,NaN
1522,YEM,Expenditure on environment protection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.021352,...,0.193329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526,ZMB,Expenditure on environment protection,NaN,NaN,NaN,NaN,0.000000,NaN,0.008718,0.003365,...,0.000000,0.004374,0.003209,0.003403,0.056456,0.062482,0.125081,0.068760,0.085866,0.076331

In [15]:
df_direct=df_direct[df_direct['Unit'] == "Metric tons of CO2 per million US$ of output"]

In [16]:
df_direct=df_direct.drop(drop_list,axis=1)

In [17]:
df_direct=df_direct.drop(['Sector','Scale'],axis=1)
df_direct

,ISO3,Indicator,F2005,F2006,F2007,F2008,F2009,F2010,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018
136,ARG,CO2 emissions per unit of output for foreign c...,0.324047,0.265817,0.218571,0.179748,0.170483,0.153739,0.131419,0.119633,0.117082,0.120079,0.110179,0.128644,NaN,NaN
137,ARG,CO2 emissions per unit of output for foreign c...,0.675644,0.499632,0.399956,0.339710,0.352928,0.304836,0.259166,0.249865,0.251789,0.248213,0.255380,0.251119,NaN,NaN
138,ARG,CO2 emissions per unit of output for foreign c...,0.397650,0.326833,0.269883,0.223120,0.211626,0.180358,0.159886,0.152590,0.143756,0.148600,0.140898,0.165928,NaN,NaN
139,ARG,CO2 emissions per unit of output for foreign c...,1.361080,1.340569,1.143913,0.948669,1.026324,0.912851,0.802152,0.786139,0.837923,0.931533,0.892714,0.907359,NaN,NaN
140,ARG,CO2 emissions per unit of output for foreign c...,0.858094,0.830800,0.654650,0.575037,0.550203,0.515055,0.424588,0.439880,0.414108,0.403117,0.207662,0.411515,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,VNM,CO2 emissions per unit of output of domestic c...,0.580938,0.589922,0.586183,0.469274,0.500612,0.557965,0.419863,0.521740,0.414007,0.313351,0.379408,0.387096,NaN,NaN
14186,VNM,CO2 emissions per unit of output of domestic c...,0.700491,0.721173,0.685869,0.611741,0.656673,0.713433,0.552066,0.887918,0.697531,0.542619,0.665272,0.595158,NaN,NaN
14187,VNM,CO2 emissions per unit of output of domestic c...,1.300917,1.221329,1.170163,0.957339,1.209887,1.406673,0.983116,1.815771,1.485603,0.992014,1.323142,1.327664,NaN,NaN
14188,VNM,CO2 emissions per unit of output of domestic c...,0.417075,0.427739,0.412699,0.342890,0.392516,0.451023,0.333714,0.580898,0.431746,0.307707,0.428521,0.417129,NaN,NaN
14189,VNM,CO2 emissions per unit of output of domestic c...,1.028036,1.031094,0.970191,0.802958,0.937144,1.031492,0.771875,0.841939,0.977942,0.707536,0.898796,0.864303,NaN,NaN

In [18]:
df_fossil

,ObjectId,Country,ISO2,ISO3,Indicator,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Unit,...,F2016,F2017,F2018,F2019,F2020,F2021,F2022,F2023,F2024,F2025
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Coal,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTEC,Explicit; Coal,"Environment, Climate Change, Government Policy...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,2,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Coal,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTEC,Explicit; Coal,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,3,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Electricity,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTET,Explicit; Electricity,"Environment, Climate Change, Government Policy...",Percent of GDP,...,0.000000e+00,0.000000e+00,8.328749e-02,3.758335e-01,7.566085e-02,2.522158e-01,2.479815e-01,2.702264e-01,2.711179e-01,2.458309e-01
3,4,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Electricity,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTET,Explicit; Electricity,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,0.000000e+00,0.000000e+00,1.607650e+07,7.310982e+07,1.473957e+07,5.028711e+07,5.141028e+07,5.687318e+07,5.778218e+07,5.395970e+07
4,5,"Afghanistan, Islamic Rep. of",AF,AFG,Explicit Fossil Fuel Subsidies - Natural Gas,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTEN,Explicit; Natural Gas,"Environment, Climate Change, Government Policy...",Percent of GDP,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8259,8260,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Petroleum,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTIP,Implicit; Petroleum,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,9.316462e+06,9.755561e+06,7.453214e+07,1.039549e+07,1.008857e+07,1.000836e+07,1.095192e+07,1.133046e+07,1.177226e+07,1.221656e+07
8260,8261,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Road Damage,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTIR,Implicit; Road Damage,"Environment, Climate Change, Government Policy...",Percent of GDP,...,0.000000e+00,0.000000e+00,7.590138e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8261,8262,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Road Damage,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTIR,Implicit; Road Damage,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,0.000000e+00,0.000000e+00,1.679364e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8262,8263,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Total,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTI,Implicit,"Environment, Climate Change, Government Policy...",Percent of GDP,...,1.924248e+00,1.643749e+00,2.401309e+00,2.175289e+00,1.252623e+00,1.278354e+00,1.362794e+00,1.468862e+00,1.556144e+00,1.631944e+00
8263,8264,Zimbabwe,ZW,ZWE,Implicit Fossil Fuel Subsidies - Total,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFTI,Implicit,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,4.222892e+08,3.865038e+08,5.313041e+08,4.320557e+08,2.683251e+08,3.334548e+08,3.913001e+08,4.118156e+08,4.369569e+08,4.629167e+08

In [19]:
df_fossil=df_fossil[df_fossil['Indicator']=='Fossil Fuel Subsidies - Total Implicit and Explicit']
df_fossil

,ObjectId,Country,ISO2,ISO3,Indicator,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Unit,...,F2016,F2017,F2018,F2019,F2020,F2021,F2022,F2023,F2024,F2025
10,11,"Afghanistan, Islamic Rep. of",AF,AFG,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",Percent of GDP,...,6.646192e+00,3.839650e+00,9.719447e+00,1.040326e+01,9.538958e+00,7.853788e+00,8.390649e+00,9.035242e+00,9.463476e+00,9.777829e+00
11,12,"Afghanistan, Islamic Rep. of",AF,AFG,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,1.308746e+09,7.799071e+08,1.876088e+09,2.023717e+09,1.858295e+09,1.565898e+09,1.739507e+09,1.901601e+09,2.016910e+09,2.146226e+09
52,53,Albania,AL,ALB,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",Percent of GDP,...,8.489357e-01,1.237844e+00,1.693141e+00,1.945487e+00,1.783131e+00,1.702587e+00,1.774678e+00,1.867627e+00,1.949052e+00,2.015734e+00
53,54,Albania,AL,ALB,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,1.102031e+08,1.735622e+08,2.690209e+08,3.062771e+08,2.750140e+08,2.917883e+08,3.179174e+08,3.511479e+08,3.835232e+08,4.151745e+08
94,95,Algeria,DZ,DZA,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",Percent of GDP,...,2.031463e+01,2.082639e+01,2.601360e+01,2.647089e+01,2.439993e+01,2.376623e+01,2.528850e+01,2.572747e+01,2.602261e+01,2.632008e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8149,8150,"Yemen, Rep. of",YE,YEM,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,4.138438e+08,6.884179e+08,6.760963e+08,6.822064e+08,4.118817e+08,6.004404e+08,6.407072e+08,6.891248e+08,7.267531e+08,7.801090e+08
8190,8191,Zambia,ZM,ZMB,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",Percent of GDP,...,1.001518e+00,1.506121e+00,1.441328e+00,1.826659e+00,1.281844e+00,1.604558e+00,1.880517e+00,1.910690e+00,1.970135e+00,2.021942e+00
8191,8192,Zambia,ZM,ZMB,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,2.297789e+08,4.185826e+08,3.978041e+08,4.387839e+08,2.418424e+08,3.041505e+08,3.509240e+08,3.578753e+08,3.744880e+08,3.906220e+08
8232,8233,Zimbabwe,ZW,ZWE,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",Percent of GDP,...,1.924248e+00,1.643749e+00,2.401309e+00,2.175289e+00,1.252623e+00,1.278354e+00,1.362794e+00,1.468862e+00,1.556144e+00,1.631944e+00
8233,8234,Zimbabwe,ZW,ZWE,Fossil Fuel Subsidies - Total Implicit and Exp...,"Parry, Ian; Black, Simon; Vernon, Nate. Septem...",ECGFT,Total Implicit and Explicit,"Environment, Climate Change, Government Policy...",USD at constant 2021 prices,...,4.222892e+08,3.865038e+08,5.313041e+08,4.320557e+08,2.683251e+08,3.334548e+08,3.913001e+08,4.118156e+08,4.369569e+08,4.629167e+08

In [20]:
df_fossil=df_fossil[df_fossil['Unit']=='Percent of GDP']

In [21]:
df_fossil=df_fossil.drop(drop_list,axis=1)

In [22]:
df_env_tax=df_env_tax[df_env_tax['Indicator']=="Environmental Taxes"]

In [23]:
df_env_tax=df_env_tax[df_env_tax['Unit']=="Percent of GDP"]

In [24]:
df_env_tax=df_env_tax.drop(drop_list,axis=1)
df_env_tax

,ISO3,Indicator,F1995,F1996,F1997,F1998,F1999,F2000,F2001,F2002,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
1,ALB,Environmental Taxes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.067206,3.247163,3.066373,3.124865,3.157133,NaN,NaN
16,ATG,Environmental Taxes,0.15,0.20,0.16,0.93,0.87,0.87,0.890000,0.880000,...,0.270000,0.730000,0.230000,0.370000,0.230000,0.310000,0.320000,0.290000,0.220000,0.240000
26,ARG,Environmental Taxes,0.81,0.97,1.42,1.30,1.20,1.21,1.170000,1.510000,...,1.250000,1.220000,1.250000,1.250000,1.220000,1.320000,1.090000,1.080000,1.060000,1.100000
36,ARM,Environmental Taxes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.878123,0.828610,1.049627,1.171519,1.246560,1.004188,NaN
46,AUS,Environmental Taxes,2.88,2.80,3.02,3.11,2.90,2.58,2.550000,2.460000,...,2.330000,2.300000,1.850000,1.880000,1.760000,1.770000,1.690000,1.670000,1.590000,1.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,USA,Environmental Taxes,NaN,NaN,NaN,NaN,NaN,NaN,0.913889,0.916104,...,0.765336,0.752718,0.741635,0.740367,0.740305,0.736207,0.739007,0.724978,0.657220,0.666989
1200,URY,Environmental Taxes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.622053,1.647432,1.723939,1.706811,1.670845,NaN,NaN
1210,VEN,Environmental Taxes,3.00,3.86,9.89,8.63,7.20,5.87,5.490000,3.850000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1220,VNM,Environmental Taxes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.310000,0.270000,0.250000,0.520000,0.770000,0.710000,0.670000,0.820000,0.750000,NaN
1230,PSE,Environmental Taxes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.050674,0.046514,0.047405,0.047090,0.045062,0.051472,NaN

In [25]:
#wide to long
df_env_tax1 = df_env_tax.melt(id_vars=['ISO3', 'Indicator'], 
                  var_name='Year', 
                  value_name='Value')

# Convert Year to numeric values (
df_env_tax1['Year'] = df_env_tax1['Year'].str.replace('F', '').astype(int)
df_env_tax1

     ISO3            Indicator  Year     Value
0     ALB  Environmental Taxes  1995       NaN
1     ATG  Environmental Taxes  1995  0.150000
2     ARG  Environmental Taxes  1995  0.810000
3     ARM  Environmental Taxes  1995       NaN
4     AUS  Environmental Taxes  1995  2.880000
...   ...                  ...   ...       ...
3343  USA  Environmental Taxes  2021  0.666989
3344  URY  Environmental Taxes  2021       NaN
3345  VEN  Environmental Taxes  2021       NaN
3346  VNM  Environmental Taxes  2021       NaN
3347  PSE  Environmental Taxes  2021       NaN

[3348 rows x 4 columns]

In [26]:
df_env_tax1 = df_env_tax1.rename(columns={'ISO3': 'Country'})
df_env_tax1 = df_env_tax1.pivot_table(index=['Country', 'Year'], 
                               columns='Indicator', 
                               values='Value')
df_env_tax1

Indicator     Environmental Taxes
Country Year
ALB     2015             3.067206
        2016             3.247163
        2017             3.066373
        2018             3.124865
        2019             3.157133
...                           ...
ZAF     2016             2.670000
        2017             2.780000
        2018             2.820000
        2019             2.940000
        2020             2.920000

[2273 rows x 1 columns]

In [27]:
#wide to long
df_fossil1 = df_fossil.melt(id_vars=['ISO3', 'Indicator'], 
                  var_name='Year', 
                  value_name='Value')

# Convert Year to numeric values (
df_fossil1['Year'] = df_fossil1['Year'].str.replace('F', '').astype(int)
df_fossil1

     ISO3                                          Indicator  Year      Value
0     AFG  Fossil Fuel Subsidies - Total Implicit and Exp...  2015   5.729834
1     ALB  Fossil Fuel Subsidies - Total Implicit and Exp...  2015   1.054840
2     DZA  Fossil Fuel Subsidies - Total Implicit and Exp...  2015  24.648551
3     AGO  Fossil Fuel Subsidies - Total Implicit and Exp...  2015   4.524014
4     AIA  Fossil Fuel Subsidies - Total Implicit and Exp...  2015   0.000000
...   ...                                                ...   ...        ...
2162  VNM  Fossil Fuel Subsidies - Total Implicit and Exp...  2025  10.863160
2163  PSE  Fossil Fuel Subsidies - Total Implicit and Exp...  2025   8.810525
2164  YEM  Fossil Fuel Subsidies - Total Implicit and Exp...  2025   2.599580
2165  ZMB  Fossil Fuel Subsidies - Total Implicit and Exp...  2025   2.021942
2166  ZWE  Fossil Fuel Subsidies - Total Implicit and Exp...  2025   1.631944

[2167 rows x 4 columns]

In [28]:
df_fossil1 = df_fossil1.rename(columns={'ISO3': 'Country'})
df_fossil1 = df_fossil1.pivot_table(index=['Country', 'Year'], 
                               columns='Indicator', 
                               values='Value')
df_fossil1

Indicator     Fossil Fuel Subsidies - Total Implicit and Explicit
Country Year
ABW     2015                                           7.700664
        2016                                           8.066063
        2017                                           8.331028
        2018                                           8.910403
        2019                                           8.935123
...                                                         ...
ZWE     2021                                           1.278354
        2022                                           1.362794
        2023                                           1.468862
        2024                                           1.556144
        2025                                           1.631944

[2156 rows x 1 columns]

In [29]:
#wide to long
df_direct1 = df_direct.melt(id_vars=['ISO3', 'Indicator'], 
                  var_name='Year', 
                  value_name='Value')

# Convert Year to numeric values (
df_direct1['Year'] = df_direct1['Year'].str.replace('F', '').astype(int)

df_direct1 = df_direct1.rename(columns={'ISO3': 'Country'})
df_direct1 = df_direct1.pivot_table(index=['Country', 'Year'], 
                               columns='Indicator', 
                               values='Value')
df_direct1

Indicator     CO2 emissions per unit of output for foreign controlled multinational enterprises  \
Country Year
ARG     2005                                           0.709207
        2006                                           0.635308
        2007                                           0.534307
        2008                                           0.456015
        2009                                           0.460831
...                                                         ...
ZAF     2012                                           1.118614
        2013                                           1.132470
        2014                                           1.131318
        2015                                           1.232347
        2016                                           1.287215

Indicator     CO2 emissions per unit of output of domestic controlled enterprises
Country Year
ARG     2005                                           0.703299
        2006                                           0.653594
        2007                                           0.537816
        2008                                           0.446641
        2009                                           0.435124
...                                                         ...
ZAF     2012                                           0.909257
        2013                                           0.862084
        2014                                           0.862987
        2015                                           0.984773
        2016                                           0.968050

[708 rows x 2 columns]

In [30]:
#wide to long
df_env_prot1 = df_env_prot.melt(id_vars=['ISO3', 'Indicator'], 
                  var_name='Year', 
                  value_name='Value')

# Convert Year to numeric values (
df_env_prot1['Year'] = df_env_prot1['Year'].str.replace('F', '').astype(int)

df_env_prot1 = df_env_prot1.rename(columns={'ISO3': 'Country'})
df_env_prot1 = df_env_prot1.pivot_table(index=['Country', 'Year'], 
                               columns='Indicator', 
                               values='Value')
df_env_prot1

Indicator     Expenditure on environment protection
Country Year
AFG     2006                               0.537076
        2007                               0.142215
        2008                               0.140065
        2009                               0.223920
        2010                               0.113937
...                                             ...
ZMB     2017                               0.062482
        2018                               0.125081
        2019                               0.068760
        2020                               0.085866
        2021                               0.076331

[1929 rows x 1 columns]

In [31]:
# combine all dfs
combined_df = pd.concat([df_env_prot1, df_direct1,df_env_tax1,df_fossil1], axis=1)
combined_df

Indicator     Expenditure on environment protection  \
Country Year
AFG     2006                               0.537076
        2007                               0.142215
        2008                               0.140065
        2009                               0.223920
        2010                               0.113937
...                                             ...
ZWE     2021                                    NaN
        2022                                    NaN
        2023                                    NaN
        2024                                    NaN
        2025                                    NaN

Indicator     CO2 emissions per unit of output for foreign controlled multinational enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
ZWE     2021                                                NaN
        2022                                                NaN
        2023                                                NaN
        2024                                                NaN
        2025                                                NaN

Indicator     CO2 emissions per unit of output of domestic controlled enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
ZWE     2021                                                NaN
        2022                                                NaN
        2023                                                NaN
        2024                                                NaN
        2025                                                NaN

Indicator     Environmental Taxes  \
Country Year
AFG     2006                  NaN
        2007                  NaN
        2008                  NaN
        2009                  NaN
        2010                  NaN
...                           ...
ZWE     2021                  NaN
        2022                  NaN
        2023                  NaN
        2024                  NaN
        2025                  NaN

Indicator     Fossil Fuel Subsidies - Total Implicit and Explicit
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
ZWE     2021                                           1.278354
        2022                                           1.362794
        2023                                           1.468862
        2024                                           1.556144
        2025                                           1.631944

[4232 rows x 5 columns]

In [32]:
df_trade=pd.read_csv('data/trade/Bilateral_Trade_in_Low_Carbon_Technology_Products.csv', index_col=False)

In [33]:
df_trade=df_trade[df_trade['Trade_Flow']=='Imports']
df_trade=df_trade[df_trade['Unit']=='Percent']
df_trade

,ObjectId,Country,ISO2,ISO3,Counterpart_Country,Counterpart_ISO2,Counterpart_ISO3,Indicator,Unit,Source,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
1,2,"Afghanistan, Islamic Rep. of",AF,AFG,Australia,AU,AUS,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,NaN,NaN,NaN,NaN,0.604867,NaN,NaN,NaN,NaN,NaN
3,4,"Afghanistan, Islamic Rep. of",AF,AFG,Brazil,BR,BRA,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.074972,NaN,NaN
5,6,"Afghanistan, Islamic Rep. of",AF,AFG,Canada,CA,CAN,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.048846,NaN,NaN
7,8,"Afghanistan, Islamic Rep. of",AF,AFG,"China, P.R.: Hong Kong",HK,HKG,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,NaN,NaN,NaN,1.642110,0.682926,24.799838,27.596427,NaN,NaN,NaN
9,10,"Afghanistan, Islamic Rep. of",AF,AFG,"China, P.R.: Mainland",CN,CHN,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,NaN,NaN,NaN,0.402304,0.281002,0.806297,0.886303,8.176787,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131563,158740,Zimbabwe,ZW,ZWE,United Arab Emirates,AE,ARE,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,3.216978,5.541152,7.733712,13.787943,8.703662,5.213621,6.439165,4.991524,6.690447,NaN
131569,158746,Zimbabwe,ZW,ZWE,United Kingdom,GB,GBR,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,2.989664,3.847346,5.213849,3.185403,14.387642,3.530961,1.506862,2.128556,2.371021,NaN
131575,158752,Zimbabwe,ZW,ZWE,United States,US,USA,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,0.998694,1.436603,1.282060,2.182993,1.465678,1.230424,1.345770,2.625549,1.290101,NaN
131580,158757,Zimbabwe,ZW,ZWE,Vietnam,VN,VNM,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,NaN,1.163578,NaN,0.028262,NaN,10.813366,0.043470,12.667687,25.041764,NaN
131584,158761,Zimbabwe,ZW,ZWE,Zambia,ZM,ZMB,Imports of low carbon technology products as s...,Percent,Department of Economic and Social Affairs/Unit...,...,0.012204,0.003064,0.011921,0.005403,0.006496,0.030971,0.031032,0.130650,0.063420,NaN

In [34]:
df_trade.columns

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Counterpart_Country',
       'Counterpart_ISO2', 'Counterpart_ISO3', 'Indicator', 'Unit', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Trade_Flow', 'Scale',
       'F1994', 'F1995', 'F1996', 'F1997', 'F1998', 'F1999', 'F2000', 'F2001',
       'F2002', 'F2003', 'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009',
       'F2010', 'F2011', 'F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017',
       'F2018', 'F2019', 'F2020', 'F2021'],
      dtype='object')

In [35]:
trade_drop=['ObjectId', 'Country', 'ISO2', 
            #'ISO3', 
            'Counterpart_Country','Counterpart_ISO2', 
            #'Counterpart_ISO3', 
            'Indicator', 'Unit', 
            'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Trade_Flow', 'Scale',
      # 'F1994', 'F1995', 'F1996', 'F1997', 'F1998', 'F1999', 'F2000', 'F2001',
       #'F2002', 'F2003', 'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009',
       #'F2010', 'F2011', 'F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017',
       #'F2018', 'F2019', 'F2020', 'F2021'
           ]
df_trade=df_trade.drop(trade_drop,axis=1)
df_trade

,ISO3,Counterpart_ISO3,F1994,F1995,F1996,F1997,F1998,F1999,F2000,F2001,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
1,AFG,AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.604867,NaN,NaN,NaN,NaN,NaN
3,AFG,BRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.074972,NaN,NaN
5,AFG,CAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.048846,NaN,NaN
7,AFG,HKG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.642110,0.682926,24.799838,27.596427,NaN,NaN,NaN
9,AFG,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.402304,0.281002,0.806297,0.886303,8.176787,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131563,ZWE,ARE,NaN,NaN,NaN,NaN,NaN,NaN,0.835837,1.540688,...,3.216978,5.541152,7.733712,13.787943,8.703662,5.213621,6.439165,4.991524,6.690447,NaN
131569,ZWE,GBR,NaN,NaN,NaN,NaN,NaN,NaN,3.577307,4.846325,...,2.989664,3.847346,5.213849,3.185403,14.387642,3.530961,1.506862,2.128556,2.371021,NaN
131575,ZWE,USA,NaN,NaN,NaN,NaN,NaN,NaN,2.425634,3.929652,...,0.998694,1.436603,1.282060,2.182993,1.465678,1.230424,1.345770,2.625549,1.290101,NaN
131580,ZWE,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.163578,NaN,0.028262,NaN,10.813366,0.043470,12.667687,25.041764,NaN
131584,ZWE,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,0.001585,5.234878,...,0.012204,0.003064,0.011921,0.005403,0.006496,0.030971,0.031032,0.130650,0.063420,NaN

In [36]:
# Melt DataFrame to long format
df_trade1 = df_trade.melt(id_vars=['ISO3', 'Counterpart_ISO3'], 
                  var_name='Year', 
                  value_name='Value')

# Filter only years and convert Year to numeric values
df_trade1 = df_trade1[df_trade1['Year'].str.startswith('F')]
df_trade1['Year'] = df_trade1['Year'].str.replace('F', '').astype(int)
df_trade1

       ISO3 Counterpart_ISO3  Year  Value
0       AFG              AUS  1994    NaN
1       AFG              BRA  1994    NaN
2       AFG              CAN  1994    NaN
3       AFG              HKG  1994    NaN
4       AFG              CHN  1994    NaN
...     ...              ...   ...    ...
658499  ZWE              ARE  2021    NaN
658500  ZWE              GBR  2021    NaN
658501  ZWE              USA  2021    NaN
658502  ZWE              VNM  2021    NaN
658503  ZWE              ZMB  2021    NaN

[658504 rows x 4 columns]

In [37]:
df_trade1.describe()

                Year         Value
count  658504.000000  2.769560e+05
mean     2007.500000  1.323132e+03
std         8.077753  6.291091e+05
min      1994.000000  5.480576e-09
25%      2000.750000  2.015010e-01
50%      2007.500000  1.344466e+00
75%      2014.250000  4.316266e+00
max      2021.000000  3.309116e+08

In [38]:
# Define a list of G7 country ISO3 codes
g7_countries = ['CAN', 'FRA', 'DEU', 'ITA', 'JPN', 'GBR', 'USA']

# Create a new 'G7' column
df_trade1['G7'] = df_trade1.apply(lambda x: 1 if (x['Counterpart_ISO3'] in g7_countries) and (x['Value'] > 0) else 0, axis=1)

In [39]:
#g20_countries = ['ARG', 'AUS', 'BRA', 'CAN', 'CHN', 'FRA', 'DEU', 'IND', 'IDN', 'ITA', 'JPN', 'KOR', 'MEX', 'RUS', 'SAU', 'ZAF', 'TUR', 'GBR', 'USA']
#df_trade1['G20'] = df_trade1.apply(lambda x: 1 if (x['Counterpart_ISO3'] in g20_countries) and (x['Value'] > 0) else 0, axis=1)

In [40]:
df_trade1.describe()

                Year         Value             G7
count  658504.000000  2.769560e+05  658504.000000
mean     2007.500000  1.323132e+03       0.038515
std         8.077753  6.291091e+05       0.192435
min      1994.000000  5.480576e-09       0.000000
25%      2000.750000  2.015010e-01       0.000000
50%      2007.500000  1.344466e+00       0.000000
75%      2014.250000  4.316266e+00       0.000000
max      2021.000000  3.309116e+08       1.000000

In [41]:
df_trade1['Same_ISO'] = df_trade1['ISO3'] == df_trade1['Counterpart_ISO3']
same_iso_count = df_trade1['Same_ISO'].sum()

In [42]:
same_iso_count

0

In [43]:
df_trade1 = df_trade1.rename(columns={'ISO3': 'Country'})

In [44]:
df_trade1=df_trade1.drop(['Counterpart_ISO3','Same_ISO','Value'],axis=1)

In [45]:
df_trade1.describe()

                Year             G7
count  658504.000000  658504.000000
mean     2007.500000       0.038515
std         8.077753       0.192435
min      1994.000000       0.000000
25%      2000.750000       0.000000
50%      2007.500000       0.000000
75%      2014.250000       0.000000
max      2021.000000       1.000000

In [46]:
df_trade1.set_index(['Country', 'Year'], inplace=True)
df_trade1

              G7
Country Year
AFG     1994   0
        1994   0
        1994   0
        1994   0
        1994   0
...           ..
ZWE     2021   0
        2021   0
        2021   0
        2021   0
        2021   0

[658504 rows x 1 columns]

In [47]:
df_trade1 = df_trade1.groupby(level=df_trade1.index.names).max()
df_trade1

              G7
Country Year
ABW     1994   0
        1995   0
        1996   0
        1997   0
        1998   0
...           ..
ZWE     2017   1
        2018   1
        2019   1
        2020   1
        2021   0

[5376 rows x 1 columns]

In [48]:
combined_df = pd.concat([combined_df,df_trade1], axis=1)

In [49]:
combined_df

              Expenditure on environment protection  \
Country Year
AFG     2006                               0.537076
        2007                               0.142215
        2008                               0.140065
        2009                               0.223920
        2010                               0.113937
...                                             ...
ZWE     2010                                    NaN
        2011                                    NaN
        2012                                    NaN
        2013                                    NaN
        2014                                    NaN

              CO2 emissions per unit of output for foreign controlled multinational enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
ZWE     2010                                                NaN
        2011                                                NaN
        2012                                                NaN
        2013                                                NaN
        2014                                                NaN

              CO2 emissions per unit of output of domestic controlled enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
ZWE     2010                                                NaN
        2011                                                NaN
        2012                                                NaN
        2013                                                NaN
        2014                                                NaN

              Environmental Taxes  \
Country Year
AFG     2006                  NaN
        2007                  NaN
        2008                  NaN
        2009                  NaN
        2010                  NaN
...                           ...
ZWE     2010                  NaN
        2011                  NaN
        2012                  NaN
        2013                  NaN
        2014                  NaN

              Fossil Fuel Subsidies - Total Implicit and Explicit   G7
Country Year
AFG     2006                                                NaN    0.0
        2007                                                NaN    0.0
        2008                                                NaN    0.0
        2009                                                NaN    1.0
        2010                                                NaN    1.0
...                                                         ...    ...
ZWE     2010                                                NaN    1.0
        2011                                                NaN    1.0
        2012                                                NaN    1.0
        2013                                                NaN    1.0
        2014                                                NaN    1.0

[6301 rows x 6 columns]

In [50]:
combined_df.drop(combined_df[combined_df.index.get_level_values('Year') > 2022].index, inplace=True)
combined_df

              Expenditure on environment protection  \
Country Year
AFG     2006                               0.537076
        2007                               0.142215
        2008                               0.140065
        2009                               0.223920
        2010                               0.113937
...                                             ...
ZWE     2010                                    NaN
        2011                                    NaN
        2012                                    NaN
        2013                                    NaN
        2014                                    NaN

              CO2 emissions per unit of output for foreign controlled multinational enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
ZWE     2010                                                NaN
        2011                                                NaN
        2012                                                NaN
        2013                                                NaN
        2014                                                NaN

              CO2 emissions per unit of output of domestic controlled enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
ZWE     2010                                                NaN
        2011                                                NaN
        2012                                                NaN
        2013                                                NaN
        2014                                                NaN

              Environmental Taxes  \
Country Year
AFG     2006                  NaN
        2007                  NaN
        2008                  NaN
        2009                  NaN
        2010                  NaN
...                           ...
ZWE     2010                  NaN
        2011                  NaN
        2012                  NaN
        2013                  NaN
        2014                  NaN

              Fossil Fuel Subsidies - Total Implicit and Explicit   G7
Country Year
AFG     2006                                                NaN    0.0
        2007                                                NaN    0.0
        2008                                                NaN    0.0
        2009                                                NaN    1.0
        2010                                                NaN    1.0
...                                                         ...    ...
ZWE     2010                                                NaN    1.0
        2011                                                NaN    1.0
        2012                                                NaN    1.0
        2013                                                NaN    1.0
        2014                                                NaN    1.0

[5713 rows x 6 columns]

In [51]:
df_surtemp=pd.read_csv('data/climate/Annual_Surface_Temperature_Change.csv',index_col=False)

In [52]:
df_surtemp=df_surtemp.drop(drop_list,axis=1)
df_surtemp

,ISO3,Indicator,F1961,F1962,F1963,F1964,F1965,F1966,F1967,F1968,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,AFG,Temperature change with respect to a baseline ...,-0.113,-0.164,0.847,-0.764,-0.244,0.226,-0.371,-0.423,...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,ALB,Temperature change with respect to a baseline ...,0.627,0.326,0.075,-0.166,-0.388,0.559,-0.074,0.081,...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,DZA,Temperature change with respect to a baseline ...,0.164,0.114,0.077,0.250,-0.100,0.433,-0.026,-0.067,...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,ASM,Temperature change with respect to a baseline ...,0.079,-0.042,0.169,-0.140,-0.562,0.181,-0.368,-0.187,...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,AND,Temperature change with respect to a baseline ...,0.736,0.112,-0.752,0.308,-0.490,0.415,0.637,0.018,...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,ESH,Temperature change with respect to a baseline ...,0.632,0.576,0.333,0.819,-0.337,0.284,-0.026,-0.368,...,1.423,1.401,1.510,1.732,2.204,0.942,1.477,2.069,1.593,1.970
221,WLD,Temperature change with respect to a baseline ...,0.211,0.038,0.168,-0.246,-0.223,0.201,-0.117,-0.126,...,1.016,1.053,1.412,1.660,1.429,1.290,1.444,1.711,1.447,1.394
222,YEM,Temperature change with respect to a baseline ...,0.029,-0.009,0.169,-0.251,-0.623,0.089,-0.257,-0.252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,ZMB,Temperature change with respect to a baseline ...,0.228,-0.168,-0.390,-0.279,-0.418,0.300,-0.014,-0.130,...,0.790,0.917,1.450,1.401,0.105,0.648,0.855,0.891,0.822,0.686
224,ZWE,Temperature change with respect to a baseline ...,0.267,0.237,-0.458,-0.097,-0.480,0.215,-0.043,0.093,...,0.118,0.025,0.970,1.270,0.088,0.453,0.925,0.389,-0.125,-0.490

In [53]:
# Melt DataFrame to long format
df_surtemp1 = df_surtemp.melt(id_vars=['ISO3', 'Indicator'], 
                  var_name='Year', 
                  value_name='Value')

# Filter only years and convert Year to numeric values
df_surtemp1 = df_surtemp1[df_surtemp1['Year'].str.startswith('F')]
df_surtemp1['Year'] = df_surtemp1['Year'].str.replace('F', '').astype(int)
df_surtemp1

      ISO3                                          Indicator  Year  Value
0      AFG  Temperature change with respect to a baseline ...  1961 -0.113
1      ALB  Temperature change with respect to a baseline ...  1961  0.627
2      DZA  Temperature change with respect to a baseline ...  1961  0.164
3      ASM  Temperature change with respect to a baseline ...  1961  0.079
4      AND  Temperature change with respect to a baseline ...  1961  0.736
...    ...                                                ...   ...    ...
13945  ESH  Temperature change with respect to a baseline ...  2022  1.970
13946  WLD  Temperature change with respect to a baseline ...  2022  1.394
13947  YEM  Temperature change with respect to a baseline ...  2022    NaN
13948  ZMB  Temperature change with respect to a baseline ...  2022  0.686
13949  ZWE  Temperature change with respect to a baseline ...  2022 -0.490

[13950 rows x 4 columns]

In [54]:
df_surtemp1 = df_surtemp1.rename(columns={'ISO3': 'Country'})
df_surtemp1 = df_surtemp1.pivot_table(index=['Country', 'Year'], 
                               columns='Indicator', 
                               values='Value')
df_surtemp1

Indicator     Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980
Country Year
ABW     1961                                             -0.100
        1962                                              0.138
        1963                                              0.084
        1964                                              0.271
        1965                                             -0.180
...                                                         ...
ZWE     2018                                              0.453
        2019                                              0.925
        2020                                              0.389
        2021                                             -0.125
        2022                                             -0.490

[12460 rows x 1 columns]

In [55]:
combined_df = pd.concat([combined_df,df_surtemp1], axis=1)
combined_df

              Expenditure on environment protection  \
Country Year
AFG     2006                               0.537076
        2007                               0.142215
        2008                               0.140065
        2009                               0.223920
        2010                               0.113937
...                                             ...
ZWE     1989                                    NaN
        1990                                    NaN
        1991                                    NaN
        1992                                    NaN
        1993                                    NaN

              CO2 emissions per unit of output for foreign controlled multinational enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
ZWE     1989                                                NaN
        1990                                                NaN
        1991                                                NaN
        1992                                                NaN
        1993                                                NaN

              CO2 emissions per unit of output of domestic controlled enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
ZWE     1989                                                NaN
        1990                                                NaN
        1991                                                NaN
        1992                                                NaN
        1993                                                NaN

              Environmental Taxes  \
Country Year
AFG     2006                  NaN
        2007                  NaN
        2008                  NaN
        2009                  NaN
        2010                  NaN
...                           ...
ZWE     1989                  NaN
        1990                  NaN
        1991                  NaN
        1992                  NaN
        1993                  NaN

              Fossil Fuel Subsidies - Total Implicit and Explicit   G7  \
Country Year
AFG     2006                                                NaN    0.0
        2007                                                NaN    0.0
        2008                                                NaN    0.0
        2009                                                NaN    1.0
        2010                                                NaN    1.0
...                                                         ...    ...
ZWE     1989                                                NaN    NaN
        1990                                                NaN    NaN
        1991                                                NaN    NaN
        1992                                                NaN    NaN
        1993                                                NaN    NaN

              Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980
Country Year
AFG     2006                                              1.720
        2007                                              0.675
        2008                                              0.704
        2009                                              0.895
        2010                                              1.613
...                                                         ...
ZWE     1989                                              0.181
        1990                                              0.567
        1991                                              0.192
        1992                                              1.010
        1993                                              0.300

[12815 rows x 7 columns]

In [56]:
combined_df['Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980'].isna().sum()

355

In [57]:
combined_df.drop(combined_df[combined_df.index.get_level_values('Year') < 1994].index, inplace=True)
combined_df

              Expenditure on environment protection  \
Country Year
AFG     2006                               0.537076
        2007                               0.142215
        2008                               0.140065
        2009                               0.223920
        2010                               0.113937
...                                             ...
WLF     2018                                    NaN
        2019                                    NaN
        2020                                    NaN
        2021                                    NaN
        2022                                    NaN

              CO2 emissions per unit of output for foreign controlled multinational enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
WLF     2018                                                NaN
        2019                                                NaN
        2020                                                NaN
        2021                                                NaN
        2022                                                NaN

              CO2 emissions per unit of output of domestic controlled enterprises  \
Country Year
AFG     2006                                                NaN
        2007                                                NaN
        2008                                                NaN
        2009                                                NaN
        2010                                                NaN
...                                                         ...
WLF     2018                                                NaN
        2019                                                NaN
        2020                                                NaN
        2021                                                NaN
        2022                                                NaN

              Environmental Taxes  \
Country Year
AFG     2006                  NaN
        2007                  NaN
        2008                  NaN
        2009                  NaN
        2010                  NaN
...                           ...
WLF     2018                  NaN
        2019                  NaN
        2020                  NaN
        2021                  NaN
        2022                  NaN

              Fossil Fuel Subsidies - Total Implicit and Explicit   G7  \
Country Year
AFG     2006                                                NaN    0.0
        2007                                                NaN    0.0
        2008                                                NaN    0.0
        2009                                                NaN    1.0
        2010                                                NaN    1.0
...                                                         ...    ...
WLF     2018                                                NaN    NaN
        2019                                                NaN    NaN
        2020                                                NaN    NaN
        2021                                                NaN    NaN
        2022                                                NaN    NaN

              Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980
Country Year
AFG     2006                                              1.720
        2007                                              0.675
        2008                                              0.704
        2009                                              0.895
        2010                                              1.613
...                                                         ...
WLF     2018                                              0.920
        2019                                              1.379
        2020                                              1.274
        2021                                              1.029
        2022                                              0.951

[6519 rows x 7 columns]

In [58]:
new_column_names = {
    'Expenditure on environment protection': 'Environment_Expenditure',
    'CO2 emissions per unit of output for foreign controlled multinational enterprises': 'CO2 emissions_Foreign_control',
    'CO2 emissions per unit of output of domestic controlled enterprises': 'CO2_emissions_Domestic_control',
    'Environmental Taxes': 'Taxes_Environment',
    'Fossil Fuel Subsidies - Total Implicit and Explicit': 'Fossil_Fuel_Subsidies',
    'G7': 'G7_dummy',
    'Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980': 'Temperature_Change'
}

combined_df.rename(columns=new_column_names, inplace=True)
combined_df

              Environment_Expenditure  CO2 emissions_Foreign_control  \
Country Year
AFG     2006                 0.537076                            NaN
        2007                 0.142215                            NaN
        2008                 0.140065                            NaN
        2009                 0.223920                            NaN
        2010                 0.113937                            NaN
...                               ...                            ...
WLF     2018                      NaN                            NaN
        2019                      NaN                            NaN
        2020                      NaN                            NaN
        2021                      NaN                            NaN
        2022                      NaN                            NaN

              CO2_emissions_Domestic_control  Taxes_Environment  \
Country Year
AFG     2006                             NaN                NaN
        2007                             NaN                NaN
        2008                             NaN                NaN
        2009                             NaN                NaN
        2010                             NaN                NaN
...                                      ...                ...
WLF     2018                             NaN                NaN
        2019                             NaN                NaN
        2020                             NaN                NaN
        2021                             NaN                NaN
        2022                             NaN                NaN

              Fossil_Fuel_Subsidies  G7_dummy  Temperature_Change
Country Year
AFG     2006                    NaN       0.0               1.720
        2007                    NaN       0.0               0.675
        2008                    NaN       0.0               0.704
        2009                    NaN       1.0               0.895
        2010                    NaN       1.0               1.613
...                             ...       ...                 ...
WLF     2018                    NaN       NaN               0.920
        2019                    NaN       NaN               1.379
        2020                    NaN       NaN               1.274
        2021                    NaN       NaN               1.029
        2022                    NaN       NaN               0.951

[6519 rows x 7 columns]

In [59]:
!pip install linearmodels
from linearmodels import PanelOLS

Collecting linearmodels
  Using cached linearmodels-5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.8 MB)
Collecting setuptools-scm[toml]<8.0.0,>=7.0.0
  Using cached setuptools_scm-7.1.0-py3-none-any.whl (43 kB)
Requirement already satisfied: pandas>=1.1.0 in /opt/conda/lib/python3.10/site-packages (from linearmodels) (1.5.3)
Collecting Cython>=0.29.34
  Using cached Cython-0.29.36-py2.py3-none-any.whl (988 kB)
Collecting pyhdfe>=0.1
  Using cached pyhdfe-0.1.2-py3-none-any.whl (18 kB)
Requirement already satisfied: statsmodels>=0.12.0 in /opt/conda/lib/python3.10/site-packages (from linearmodels) (0.13.5)
Requirement already satisfied: numpy>=1.19.0 in /opt/conda/lib/python3.10/site-packages (from linearmodels) (1.23.5)
Requirement already satisfied: scipy>=1.5.0 in /opt/conda/lib/python3.10/site-packages (from linearmodels) (1.10.0)
Collecting formulaic>=0.6.1
  Using cached formulaic-0.6.3-py3-none-any.whl (82 kB)
Collecting mypy-extensions>=0.4
  Using cached mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Collecting wrapt>=1.0
  Using cached wrapt-1.15.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (78 kB)
Collecting interface-meta>=1.2.0
  Using cached interface_meta-1.3.0-py3-none-any.whl (14 kB)
Collecting astor>=0.8
  Using cached astor-0.8.1-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from formulaic>=0.6.1->linearmodels) (4.4.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->linearmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->linearmodels) (2022.7.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from setuptools-scm[toml]<8.0.0,>=7.0.0->linearmodels) (66.1.1)
Requirement already satisfied: tomli>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from setuptools-scm[toml]<8.0.0,>=7.0.0->linearmodels) (2.0.1)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from setuptools-scm[toml]<8.0.0,>=7.0.0->linearmodels) (23.0)
Requirement already satisfied: patsy>=0.5.2 in /opt/conda/lib/python3.10/site-packages (from statsmodels>=0.12.0->linearmodels) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from patsy>=0.5.2->statsmodels>=0.12.0->linearmodels) (1.16.0)
Installing collected packages: wrapt, setuptools-scm, mypy-extensions, interface-meta, Cython, astor, pyhdfe, formulaic, linearmodels
  Attempting uninstall: Cython
    Found existing installation: Cython 0.29.33
    Uninstalling Cython-0.29.33:
      Successfully uninstalled Cython-0.29.33
Successfully installed Cython-0.29.36 astor-0.8.1 formulaic-0.6.3 interface-meta-1.3.0 linearmodels-5.1 mypy-extensions-1.0.0 pyhdfe-0.1.2 setuptools-scm-7.1.0 wrapt-1.15.0

The following runs a Panel OLS regression of the form:
$$y_{it}=\beta_0 + \beta_1x_{it}+ e_{it}$$

In [60]:
model1 = PanelOLS.from_formula("Environment_Expenditure ~ 1+Temperature_Change ", data=combined_df)
print(model1.fit())

                             PanelOLS Estimation Summary
=====================================================================================
Dep. Variable:     Environment_Expenditure   R-squared:                        0.0004
Estimator:                        PanelOLS   R-squared (Between):             -0.0130
No. Observations:                     1858   R-squared (Within):               0.0033
Date:                     Mon, Jul 10 2023   R-squared (Overall):              0.0004
Time:                             15:33:46   Log-likelihood                   -1287.4
Cov. Estimator:                 Unadjusted
                                             F-statistic:                      0.7863
Entities:                              122   P-value                           0.3753
Avg Obs:                            15.230   Distribution:                  F(1,1856)
Min Obs:                            1.0000
Max Obs:                            27.000   F-statistic (robust):             0.7863
                                             P-value                           0.3753
Time periods:                           27   Distribution:                  F(1,1856)
Avg Obs:                            68.815
Min Obs:                            29.000
Max Obs:                            93.000

                                 Parameter Estimates
======================================================================================
                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------
Intercept              0.5084     0.0237     21.482     0.0000      0.4620      0.5549
Temperature_Change     0.0160     0.0181     0.8867     0.3753     -0.0194      0.0515
======================================================================================

/opt/conda/lib/python3.10/site-packages/linearmodels/panel/model.py:1214: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

In [61]:
model2 = PanelOLS.from_formula("Taxes_Environment ~ 1+Temperature_Change ", data=combined_df)
print(model2.fit())

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:      Taxes_Environment   R-squared:                        0.0369
Estimator:                   PanelOLS   R-squared (Between):              0.0321
No. Observations:                2154   R-squared (Within):              -0.1715
Date:                Mon, Jul 10 2023   R-squared (Overall):              0.0369
Time:                        15:33:46   Log-likelihood                   -3363.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      82.450
Entities:                         120   P-value                           0.0000
Avg Obs:                       17.950   Distribution:                  F(1,2152)
Min Obs:                       1.0000
Max Obs:                       27.000   F-statistic (robust):             82.450
                                        P-value                           0.0000
Time periods:                      27   Distribution:                  F(1,2152)
Avg Obs:                       79.778
Min Obs:                       50.000
Max Obs:                       113.00

                                 Parameter Estimates
======================================================================================
                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------
Intercept              1.2696     0.0534     23.791     0.0000      1.1649      1.3743
Temperature_Change     0.3990     0.0439     9.0802     0.0000      0.3128      0.4851
======================================================================================

/opt/conda/lib/python3.10/site-packages/linearmodels/panel/model.py:1214: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

The following runs a Panel OLS with *random effects* regression of the form:
$$y_{it}=\beta_0 + \beta_1x_{it}+ country_i+e_{it}$$

In [62]:
from linearmodels.panel import RandomEffects
model3 = RandomEffects.from_formula("Environment_Expenditure ~ 1+Temperature_Change +EntityEffects", data=combined_df)
print(model3.fit())

/opt/conda/lib/python3.10/site-packages/linearmodels/panel/model.py:2616: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

                           RandomEffects Estimation Summary
=====================================================================================
Dep. Variable:     Environment_Expenditure   R-squared:                        0.0023
Estimator:                   RandomEffects   R-squared (Between):             -0.0014
No. Observations:                     1858   R-squared (Within):               0.0036
Date:                     Mon, Jul 10 2023   R-squared (Overall):             -0.0112
Time:                             15:33:46   Log-likelihood                    272.40
Cov. Estimator:                 Unadjusted
                                             F-statistic:                      4.2330
Entities:                              122   P-value                           0.0398
Avg Obs:                            15.230   Distribution:                  F(1,1856)
Min Obs:                            1.0000
Max Obs:                            27.000   F-statistic (robust):             6.0197
                                             P-value                           0.0142
Time periods:                           27   Distribution:                  F(1,1856)
Avg Obs:                            68.815
Min Obs:                            29.000
Max Obs:                            93.000

                                 Parameter Estimates
======================================================================================
                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------
Intercept              0.4494     0.0457     9.8430     0.0000      0.3598      0.5389
Temperature_Change     0.0222     0.0090     2.4535     0.0142      0.0045      0.0399
======================================================================================

The following runs a Panel OLS with *random effects* regression of the form:
$$y_{it}=\beta_0 + \beta_1x_{it} +\beta_1 x_{it} G7+ country_i+e_{it}$$

In [63]:
model4 = RandomEffects.from_formula("Environment_Expenditure ~ 1 + Temperature_Change+G7_dummy*Temperature_Change +EntityEffects", data=combined_df)
print(model4.fit())

/opt/conda/lib/python3.10/site-packages/linearmodels/panel/model.py:2616: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

                           RandomEffects Estimation Summary
=====================================================================================
Dep. Variable:     Environment_Expenditure   R-squared:                        0.0015
Estimator:                   RandomEffects   R-squared (Between):              0.0013
No. Observations:                     1829   R-squared (Within):               0.0038
Date:                     Mon, Jul 10 2023   R-squared (Overall):             -0.0131
Time:                             15:33:46   Log-likelihood                    319.65
Cov. Estimator:                 Unadjusted
                                             F-statistic:                      0.9207
Entities:                              117   P-value                           0.4300
Avg Obs:                            15.632   Distribution:                  F(3,1825)
Min Obs:                            1.0000
Max Obs:                            27.000   F-statistic (robust):             2.2458
                                             P-value                           0.0811
Time periods:                           27   Distribution:                  F(3,1825)
Avg Obs:                            67.741
Min Obs:                            29.000
Max Obs:                            91.000

                                      Parameter Estimates
===============================================================================================
                             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------------------
Intercept                       0.4298     0.0481     8.9357     0.0000      0.3355      0.5241
Temperature_Change              0.0245     0.0253     0.9685     0.3329     -0.0251      0.0741
G7_dummy                        0.0006     0.0271     0.0222     0.9823     -0.0526      0.0538
G7_dummy:Temperature_Change    -0.0017     0.0272    -0.0641     0.9489     -0.0552      0.0517
===============================================================================================

In [65]:
combined_df.to_csv('data/combined_data.csv')